ZSHRCS_PATH=$IDLEBOX/zshrcs
ANDROID_PLATFORM_TOOLS_DIR=
HOMEBREW_GITHUB_API_TOKEN=
GEM_BIN_DIR=
GO_DIR=
RUST_DIR=
NWJS=
GOOGLE_CLOUD_SDK_DIR=
LANGUAGE_AND_ENCODING=en_US.UTF-8
SHELL_PROXY_SERVER=
THEME=spaceship
