# All values below should be in quotes.

# Environment variables are supported in values.
# Just make sure variables are exists before loading IdleBox.

# --------------------

# e.g. "$HOME/Library/Android/sdk/build-tools/29.0.2/"
ANDROID_PLATFORM_TOOLS_DIR=

# Ruby executable directory path from RubyGems.
GEM_BIN_DIR=

# Directory path for "get" command of Golang;
# which containing bin, pkg, src, etc.
# This is also used by declaring executable directory path.
GO_DIR=

# Directory path for registering Google Cloud SDK commands.
GOOGLE_CLOUD_SDK_DIR=

# Enable search function of Homebrew.
# Checkout https://docs.brew.sh/Manpage#environment
HOMEBREW_GITHUB_API_TOKEN=

# Set main locale of shell.
# Make sure you have generated the locale before setting this.
# Checkout https://wiki.archlinux.org/index.php/locale
LANGUAGE_AND_ENCODING="en_US.UTF-8"

# For MacOS, make "nw" command work.
# e.g. "/Applications/nwjs.app/Contents/MacOS/nwjs"
NWJS=

# Plugins for zsh.
# Make sure you have installed the plugin into Oh-my-zsh.
# Checkout https://github.com/ohmyzsh/ohmyzsh/wiki/Plugins
# Multiple values in a space separated list.
# e.g. "git zsh-completions zsh-syntax-highlighting"
PLUGINS="git"

# Directory path for "cargo" command of Rust;
# which containing bin, env, git, registry, etc.
# This is also used by declaring executable directory path.
RUST_DIR=

# Set shell proxy addresses for shell-proxy command.
# Checkout https://wiki.archlinux.org/index.php/Proxy_server
SHELL_PROXY_SERVER_ALL=
SHELL_PROXY_SERVER_HTTP=
SHELL_PROXY_SERVER_HTTPS=

# Theme of zsh.
# Make sure you have installed the theme into Oh-my-zsh.
# Checkout https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
THEME="aussiegeek"

# Don't edit the path unless you know what you are doing.
ZSHRCS_PATH="$IDLEBOX/zshrcs"
